@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Nastal error při zprácovávání vašeho požadavku</h2>

@if (Model.ErrorMessage != null)
{
    <p class="text-danger">
        <strong>Error Message:</strong> @TempData["ErrorMessage"]
    </p>
}

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
