@using Microsoft.AspNetCore.Mvc.TagHelpers
@if (User.Identity.IsAuthenticated)
{
    <button id="toggleSidebar" class="toggle-sidebar-button">☰ Menu</button>
    <div id="favorite">
        
    </div>
}

<div class="text-center">
    <h1 class="desplay-4">Počasí</h1>
    <form id="weatherform" asp-controller="Home" asp-action="Weather" method="get">
        <div>
            <input type="text" name="location" id="locationInput" required />
            <input type="submit" value="submit" />
        </div>
    </form>
</div>
