@{
    ViewData["Title"] = "Počasí";
}
@using Microsoft.AspNetCore.Mvc.TagHelpers


<div class="text-center">
    <h1 class="desplay-4">Počasí</h1>
    <form id="weatherForm" asp-controller="Home" asp-action="Weather" method="post">
        <div>
            <input type="text" name="location" id="locationInput" required />
            <input type="submit" value="submit" />
        </div>
    </form>
</div>
