@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Mvc.TagHelpers


<div class="text-center">
    <div class="text-center">
        <h1 class="desplay-4">Weather Application</h1>
        <form asp-controller="Home" asp-action="Weather" method="post">
            <div>
                <input type="text" name="location" required/>
                <input type="submit" value="submit"/>
            </div>
        </form>
    </div>
</div>
