@{
    var currentHourIndex = DateTime.Now.Hour;
    var weatherData = ViewData["weatherData"] as WeatherData;
}
@using Microsoft.AspNetCore.Mvc.TagHelpers

<div class="weather-container">
    <h1>Předpověď počasí pro aktuální hodinu</h1>
    <div class="weather-item">
        @if (weatherData != null)
        {
            <p class="label">Hodina:</p>
            <p class="value">@DateTime.Now</p>
            <p class="label">Teplota:</p>
            <p class="value">@weatherData.hourly.temperature_2m[currentHourIndex] °C</p>
            <p class="label">Srážky:</p>
            <p class="value">@weatherData.hourly.precipitation[currentHourIndex] mm</p>
            <!-- Další informace o počasí -->
        }
        <div class="button-container">
            <form id="weatherForm" asp-controller="Home" asp-action="WeatherMore" method="post">
                <button type="submit" class="custom-button">Zobrazit celou předpověď</button>
                <input type="hidden" name="location" value="@ViewData["location"]" />
            </form>
        </div>
    </div>
    

</div>