@{
    var weatherData = ViewData["weatherData"] as WeatherData;
}
@using Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Předpověď počasí</h1>
<div class="weathermore-container">
    @if (@weatherData != null)
    {
        @for (var i = 0; i < @weatherData.hourly.time.Count; i++)
        {
            <div class="weathermore-item">
                <p>Hodina: @weatherData.hourly.time[i]</p>
                <p>Teplota: @weatherData.hourly.temperature_2m[i] °C</p>
                <p>Srážky: @weatherData.hourly.precipitation[i] mm</p>
                <!-- Další informace o počasí -->
            </div>
        }
    }
</div>

